.clearbtn {
  display: flex;
  flex: 1;
  height: 4rem;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgb(192, 49, 80);
  color: rgb(48, 44, 44);
  background-color: white;
  font-size: 1.4rem;
}
.clearbtn:hover {
  background-color: rgb(253, 238, 238);
  outline: 1.5px solid rgb(192, 49, 80);
  cursor: pointer;
}
